.poster-img {
  height: 250px;
  width: 100%;
  /* border: 3px solid green; */
  background-size: cover;
  background-color: hsl(0, 0%, 98%);
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* .poster-img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster-img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.poster {
  background: hsl(0, 0%, 100%);
  height: 406px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 100px;
}
/* .poster-img,
.poster-details {
  
} */
.poster-details {
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
}
.title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 7px;
  font-weight: 600;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}
.year {
  margin-bottom: 10px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}
.year span {
  font-weight: 600;
  background-color: hsl(0, 0%, 100%);
}
.imdb {
  margin-bottom: 10px;
}
.nominate {
  position: absolute;
  left: 2.5%;
  bottom: 5px;
  width: 95%;

  height: 35px;
  background: hsl(209, 23%, 22%);
  color: #fff;
  /* outline: none; */
  border: none;
  border-radius: 5px;
  font-size: 16px;

  /* display: none; */
}
